body{
    text-align:center;
    background-color:rgb(227, 158, 170);
    background-image:url('./Resources/images/background\ img.jpg');
}

.logo{
    text-align: center;

}
.topnav1{
    font-size: larger;
    text-align: right;
    justify-content: space-around;

}
.topnav2 input{
    width: 40px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: center;
    width: 50%;
    background:aqua;
    text-align: center;
}
.shopping-categories{
    /* display:flex; */
    margin-top: 30px;
}

.Itmes1{
display: flex;
flex-wrap: wrap;
flex-direction: row;
text-align: center;
}
.about{
    text-align: right;
    text-decoration-color: aqua;
}
 