body{

}
.logo{
    text-align: left;

}

/* .titlebar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 80px;
    background: #E3E6F3;
    text-align: right;
} */

#header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 2opx 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style:none;
    padding:0 20px;

}

#navbar li a{
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    color: red;
}

#navbar li a:hover{
    color: aqua;
}